<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>userList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>用户列表</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>username</th>
            <th>usersex</th>
            <th>userage</th>
            <th>userphone</th>
            <th>userdate</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="user : ${users}">
            <th scope="row" th:text="${user.userid}"></th>
            <td th:text="${user.username}"></td>
            <td th:text="${user.usersex}"></td>
            <td th:text="${user.userage}"></td>
            <td th:text="${user.userphone}"></td>
            <td th:text="${#dates.format(user.userdate,'yyyy-MM-dd')}"></td>
            <td><a th:href="@{/user/toEdit(id=${user.userid})}">edit</a></td>
            <td><a th:href="@{/user/deleteuserbyid(id=${user.userid})}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/toAdd" th:href="@{/user/toAdd}" class="btn btn-info">add</a>
    </div>
</div>

</body>
</html>