<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>添加用户</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/user/adduser}"  method="post">
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="username"  id="username" placeholder="username"/>
            </div>
        </div>
        <div class="form-group">
            <label for="usersex" class="col-sm-2 control-label" >usersex</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="usersex" id="usersex" placeholder="usersex"/>
            </div>
        </div>
        <div class="form-group">
            <label for="userage" class="col-sm-2 control-label">userage</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="userage"  id="userage" placeholder="userage"/>
            </div>
        </div>
        <div class="form-group">
            <label for="userphone" class="col-sm-2 control-label">userphone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="userphone"  id="userphone" placeholder="userphone"/>
            </div>
        </div>
        <div class="form-group">
            <label for="userdate" class="col-sm-2 control-label">userdate</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" name="userdate"  id="userdate" placeholder="userdate"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="Reset" class="btn btn-info" />
            </div>

        </div>
    </form>
</div>
</body>
</html>
